.site-blocks-cover {
    background-image: url(https://drive.google.com/uc?id=1YAWjnP64nnRO54MU8ypgzcBBgEXUo3Qh) ;
    /* background-repeat: no-repeat; */
    background-size: 500px;
    background-position: left center;
}